html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000000;
  font-family: Arial, sans
}

body p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:white;
}

#showtimes{
  text-align: center;
}

body h1{
}

#welcome {
  background-image: url(images/wall&wick.png);
  background-size: cover;
  background-position: center;
  padding: 100px;
}

header h1 {
  text-align: center;
  font-size: 60px;
  color: white;
}
header ul{
  text-align: center;
  font-size: 25px;
  background-color: #000000;
}

h2 {
  text-align: center;
  color: white;
}

.showtimes {
  text-align: center;
  color: white;
}